/target
/micro/dump
/micro/payara-micro-5.193.jar
/micro/*.war
/micro/log
/micro/payara-micro-5.194.jar
/micro/root
/logs
/micro/logs/*.log
/github.token
/micro/.root/
/micro/docker/
/micro/payara-micro-5.2022.2.jar
/micro/logs/
/.idea/
/nbactions.xml
/nb-configuration.xml
